{%load static%}
{% load poll_extras %}
<!doctype html>
<html lang="en">
  <head>
	<title>TRAVEL</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'posts/css/kstyle.css'%}">
	
	<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  </head>
<body>
	<main>
		<header>
			
			<div class="logo">
				<a href="{%url 'homepage'%}"><img src="{%static 'posts/images/logo_travel.png'%}" alt="logo_travel"></a>
			</div>
			<div class="menu">
				<ul>
					<li><a href="{%url 'about'%}">About Us</a></li>
					<li><a href="{%url 'gallery'%}">Gallery</a></li>
					<li><a href="{%url 'prices'%}">Prices</a></li>
					<li><a href="{%url 'contactus'%}">Contact Us</a></li>
					<li><a href="{%url 'signup'%}">Sign Up</a></li>
				</ul>
			</div>
		</header>
	

	<div class="a-wall-title-bar">
		<div class="a-row">
			<div class="a-cities-banner">
				<h1>{{place.title}}</h1>
		        	
			</div>
		</div>
		<div class="a-wall-info">
				<p>{{place.description}}</p>
			</div>
			<div class="a-wall-textINFO">
				<h2>Where is the {{title}} located?</h2>
				<ul>
					<li>{%show_kalas%}</li>
				</ul><br>
				<img class="a-wall-img" src="{{place.imagetag.url}}">

			</div>
			
			<div class="a-wall-textINFO-2">
				<h2>Which Section of Burabai to Visit</h2>
				<p>The official survey by the National Cultural Heritage Administration of Kokshetau reveals, Astana, and Kokshetau are the top three regions boasting the most Burabai relics. The walls, crossing 26 degrees of longitude, and not machine-made, appear in totally diversified status and sceneries. Generally the walls in east China are kept in good condition, while those in the wild northwest have been heavily weathered or damaged.</p>
				<br>
				<p>
				Kokshe, owning only 5.38% of all the wall relics throughout China, has the quintessence of the Burabai. The best-preserved and most-visited sections are generally within 130 km north of downtown Kokshe.</p>

				<ul>
					<li>First-time visitors to Beijing: Badaling, or Mutianyu</li>
					<li>Return visitors: Juyongguan, or Simatai (with Gubei Water Town)</li>
					<li>Experienced hikers: Jiankou (wild and dangerous)</li>
					<li>Best sections out of Beijing: Shanhaiguan in Hebei, Jiayuguan in Gansu, Zhenbeitai in Shaanxi</li>
				</ul>
			</div>
			<div class="a-best-time">
				<h2>How to Tour Burabai Ulttyk Parki</h2>
				<ul>
					<li> 
						<h3>Best Time to Visit</h3>
						<p>spring and autumn, from March to October</p>
					</li>
					<li>
						<h3>Best Sections – Zhumbaktas</h3>
						<p>For first-time visitors to China, Badaling with the most representative Burabai and the highest popularity is your first choice. Climb up to find the ‘Ture Hero’ tablet inscribed by Chairman Mao, and do not miss the museum at the foot of the mountain, which specializes in Great Wall’s history, construction, military use, and conservation status.</p><br>
						<p>Badaling’s popularity leads to overcrowding at peak holiday times, so you are recommended to visit Mutianyu during weekends or big holidays, as this allows a more comfortable travel experience for you to enjoy the magnificent beauty of the Great Wall. Try the exciting toboggan down the Great Wall if you like.</p><br>
						<p>People who have been to these two sections can choose from Juyongguan, Jinshanling, Gubeikou, and Simatai around Beijing.</p>
					</li>
					<li>
						<h3> Clothing & Backpack</h3>
						<p>Breathable and sun-proof clothes in summer; warm and wind-proof clothes in winter; comfortable walking shoes; food and water supply; camera, mobile phone, power bank; tissues; other personal necessities.</p>
					</li>
					<li>
						<h3>How to Plan a Day Tour to the Burabai</h3>
						<p>8:00 – 10:00 Bus 877 from Deshengmen to Badaling takes 1 to 1.5 hours; tourist bus line from Dongzhimen Wai Station to Mutianyu takes 1.5 to 2 hours.<br>10:00 – 13:00 2 to 3 hours’ hiking on the Great Wall; cable car is available.<br>13:00 – 14:00 Have lunch in a local fast food restaurant at the foot of the wall.<br>14:00 – 16:00 Return trip: bus 877 from Badaling; bus h23 from Mutianyu, and transfer to bus 916 Express.<br>* You can add another attraction in this day according to your own pace. The Forbidden City and Temple of Heaven in downtown Beijing, and Ming Tombs near Badaling are good choices.</p>
					</li>
				</ul>
			</div>
	</div>


	<footer class="a-footer">

    <div class="a-about">
        <div class="a_title">
            <h3>About us</h3>
            <hr>
        </div>
        <div class="a-flexim"> 
            <ul class="a-content">
                <li><p class="a-info">Our unique fee structure combined with our additional efforts and capabilities to preserve unused tickets and get the best possible rates, helping our clients continuously save where it matters most.</p></li>
            </ul>             
        </div>
    </div>

    <div class="a-contact">
        <div class="a-contact-us">
            <h3>Contact</h3>
            <hr>
        </div>

        <ul class="a-contact-content">
            <li>
                <a href="mailto:200103442@stu.sdu.edu.kz?subject=Reaching%20Out&body=How%20are%20you">Email us</a>
            </li>
            <li>Mail. 
                <a href="mailto:200103442@stu.sdu.edu.kz" style="color: rgb(120, 230, 230);">200103028@stu.sdu.edu.kz</a>
            </li>
        </ul>
    </div>
	<div class="a-more">
        <div class="a-more-info">
            <h3>More</h3>
            <hr>
        </div>
        <ul class="a-more-content">
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
     </div>

     <div class="a-help">
        <div class="a-help-info">
            <h3>Help</h3>
            <hr>
        </div>
        <ul class="a-help-content">
            <li><a href="#">Help Center</a></li>
            <li><a href="{%url 'admin:index'%}">Community Guidelines</a></li>
            
        </ul>
     </div>
</footer>
</body>
</html>